[project]
name = "hypernodes"
version = "0.1.0"
description = "Hierarchical, Modular Pipeline System"
readme = "README.md"
license = {text = "MIT"}
requires-python = ">=3.12"
dependencies = ["networkx>=3.0"]

[project.optional-dependencies]
viz = [
    "networkx>=3.0",
    "graphviz>=0.20",
    "rich>=13.0.0",
    "tqdm>=4.67.1",
    "ipykernel>=7.0.1",
    "ipywidgets>=8.1.7",
]

examples = ["diskcache>=5.6.3",
    "numpy>=2.3.4",
    "pydantic>=2.12.3",]

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]

[build-system]
requires = ["hatchling>=1.25.0"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/hypernodes"]

[tool.pytest.ini_options]
testpaths = [
    "tests",
]
